.chartContainer {
  display         : flex;
  border-width    : 1px;
  border-style    : solid;
  border-color    : white;
  text-align      : left;
  margin-bottom   : 20px;
  padding         : 20px;
  background-color: rgb(12, 247, 129);
  /* background-color: black; */
  color: white;

  /* height: 100px;
  width: 400px; */
}

.chart-wrapper {
  padding: 1%;
  display: inline-block;
}

.main.chart-wrapper {
  width: 96%;
  height: 240px;
}

.sub.chart-wrapper {
  width: 29%;
  height: 200px;
}

/* Simple responsivenss example */
@media (max-width: 700px) {
  .sub.chart-wrapper {
    width: 96%;
  }
}
