.infopane-content {
    margin         : 3px;
    align-items    : center;
    justify-content: center;
}

.cardheader {
    color: white !important;
}

.datedisplay {
    margin-top: 30px !important;
}