.infopane-content {
    margin         : 3px;
    align-items    : center;
    justify-content: center;
}

.cardheader {
    color: white !important;
}

.datedisplay {
    margin-top: 30px !important;
}

.medtable-container {
    height    : 42vh;
    overflow-y: scroll;
    border    : 1px solid lightgray;
}

.medtable-button-row {
    margin: 1vh;
}