.infopane-content {
    margin         : 3px;
    align-items    : center;
    justify-content: center;
}

.cardheader {
    color: white !important;
}

.datedisplay {
    margin-top: 30px !important;
}

.medtable-container {
    height    : 42vh;
    overflow-y: scroll;
    border    : 1px solid lightgray;
}

/** Fixed header with background */
th {
    position: sticky;
    top     : 0px;
    z-index : 100;
}

table>thead>tr>th,
table>thead>tr>td {
    background: #51596a !important;
    color     : #ffffff !important;
}

/**                             */

.medtable-buttons {
    width: 80%;
}

.medtable-button-row {
    margin: 1vh;
}