.infopane-content {
    margin            : 3px;
    align-items       : center;
    justify-content   : center;
    /* height         : 100%; */
}

.cardheader {
    color: white !important;
}

.datedisplay {
    margin-top: 30px !important;
}

.medtable-container {
    height    : 46vh;
    overflow-y: scroll;
    border    : 1px solid lightgray;
}

.medtable {
    margin-top: -1px;
}

.trends {
    height    : 60px;
    max-height: 60px;
}

/** Fixed header with background */
th {
    position: sticky;
    top     : -1px;
    z-index : 100;
}

table>thead>tr>th,
.table>thead>tr>td {
    background: #51596a !important;
    color     : #ffffff !important;
}

/**                             */

.medtable-buttons {
    width: 80%;
}

.medtable-button-row {
    margin-top      : 2vh;
    /* margin-bottom: 1vh; */
}