.workarea {
    min-height: 88vh;
}

.sidebar-layout {
    border-width: 1px;
    border-style: solid;
    margin-top  : 3px;
    border-color: white;
}

.sidebar-content {
    margin         : 6px;
    width          : 100%;
    align-items    : center;
    justify-content: center;
}

.infopane-layout {
    border-width: 1px;
    border-style: solid;
    margin-top  : 3px;
    border-color: white;
}