.accountbtn {
    width      : 100%;
    height     : 8vh;
    margin     : 1px;
    font-size  : large !important;
    font-weight: 500 !important;
    font-style : normal !important;
}

/* .accountbtn:active {
    color: red !important;
} */

/* .accountbtn:visited {
    color: blue !important;
} */

/* .accountbtn:focus {
    color: white !important;
} */